events/2026-04-22-atlanta-n8n-meetup/level1-rss-to-email.json
{
  "name": "Level 1 · Brand Content from RSS Feed",
  "meta": {
    "instanceId": "n8n-meetup-atlanta-2026-04-22",
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://site.extension.uga.edu/peaches/feed/"
      },
      "id": "52884d5f-5e3b-426d-b7fa-73f087df26e8",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media content writer.\n\nHere is a news article:\n\nHEADLINE: {{ $json.title }}\nSUMMARY: {{ $json.contentSnippet }}\nSOURCE: {{ $json.link }}\n\nWrite 3 social media posts based on this article. Format exactly like this:\n\n---INSTAGRAM---\n[Casual, engaging Instagram caption under 150 words. Include 5 relevant hashtags at the end.]\n\n---LINKEDIN---\n[Professional LinkedIn post under 200 words. Include 3 relevant hashtags.]\n\n---X/TWITTER---\n[Punchy tweet under 280 characters. Include 2 relevant hashtags.]\n\nWrite each post to feel natural and human. Do not use corporate jargon.",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "id": "34b80fa2-dbca-444e-aa34-2f12afc9e269",
      "name": "Write Social Posts",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [480, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-6"
        },
        "options": {
          "maxTokensToSample": 1500
        }
      },
      "id": "faf781cc-ea1c-4156-9a00-3fa46a146747",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [480, 500]
    },
    {
      "parameters": {
        "sendTo": "your@email.com",
        "subject": "=New Content Ready: {{ $('RSS Feed Trigger').item.json.title }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;\"><div style=\"background:#0c0c0c;padding:16px 20px;border-radius:8px 8px 0 0;\"><p style=\"color:#EA4B25;font-size:11px;text-transform:uppercase;margin:0 0 4px 0;\">People in the Loop</p><h2 style=\"color:white;margin:0;\">Your Content is Ready</h2></div><div style=\"background:#f9f7f4;padding:16px;border:1px solid #e0dbd4;\"><p style=\"font-size:12px;color:#888;margin:0;\">Source article</p><p style=\"font-weight:bold;margin:4px 0;\">{{ $('RSS Feed Trigger').item.json.title }}</p><a href=\"{{ $('RSS Feed Trigger').item.json.link }}\" style=\"color:#EA4B25;font-size:12px;\">Read original</a></div><div style=\"padding:20px;border:1px solid #e0dbd4;border-top:none;background:white;\"><div style=\"white-space:pre-wrap;font-size:14px;line-height:1.8;\">{{ $json.text }}</div></div><p style=\"font-size:11px;color:#aaa;text-align:center;margin-top:16px;\">People in the Loop · ninathomas.ai</p></body></html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "05ac6211-b4a0-4611-8727-6dd83d2d3853",
      "name": "Send Content Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [720, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## LEVEL 1 · Brand Content from RSS Feed\nCreated by: Nina Thomas | People in the Loop\nninathomas.ai | connect@ninathomas.ai\n\nPURPOSE: Watches an RSS news feed and writes 3 social media posts every time a new article is published. Posts arrive in your email ready to copy and paste.\n\nSKILL LEVEL: Beginner\nTOOLS: n8n · Claude · Gmail\n\nSETUP:\n1. Replace the RSS feed URL in the RSS Feed Trigger node\n2. Connect your Anthropic API key to the Claude Model node\n3. Connect your Gmail account to the Send Content Email node\n4. Update the sendTo email address in the Send Content Email node\n5. Click Test workflow to confirm it runs\n6. Activate the workflow\n\nBuilt live at: n8n Meetup Atlanta · April 22, 2026",
        "height": 340,
        "width": 500,
        "color": 3
      },
      "id": "18e6f6f2-6266-4753-b1b5-10349f41eaaa",
      "name": "Sticky Note — Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 550]
    },
    {
      "parameters": {
        "content": "## WELCOME · n8n Meetup Atlanta · April 22, 2026\n\nYou just imported the Level 1 workflow from the live build session.\n\nThis workflow watches an RSS news feed and writes 3 social media posts every time a new article is published. Posts land in your email, ready to copy and paste.\n\n──────────────────────────────\nGET EVERYTHING HERE:\npeopleintheloop.app/n8n_0422\n──────────────────────────────\n\nThat page has all 4 files from tonight, setup instructions, and the take-home challenges.\n\nBuilt by: Nina Thomas, n8n Community Ambassador\nPeople in the Loop · ninathomas.ai",
        "height": 280,
        "width": 440,
        "color": 4
      },
      "id": "welcome-note-level1-0422",
      "name": "Sticky Note — Welcome",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 60]
    },
    {
      "parameters": {
        "content": "## BEFORE YOU START\n\nYou need two credentials:\n\n1. Anthropic API key → Claude Model node\n   Get yours: console.anthropic.com\n   In n8n: Credentials > New > Anthropic API\n\n2. Google OAuth2 → Send Content Email node\n   In n8n: Credentials > New > Google OAuth2 API\n\nDo not activate until both are connected.",
        "height": 220,
        "width": 360,
        "color": 1
      },
      "id": "ea2c3c4a-f368-4136-90b7-ebe1538e7ae0",
      "name": "Sticky Note — Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [620, 550]
    },
    {
      "parameters": {
        "content": "## SWAP YOUR RSS FEED\n\nTonight's demo feed (UGA Peach Blog):\nsite.extension.uga.edu/peaches/feed/\n\nWant to use your own feed? Replace the URL with any RSS feed:\n\n- WordPress blogs: yoursite.com/feed\n- Other blogs: yoursite.com/rss or yoursite.com/rss.xml\n- Industry publications: check their footer for an RSS link\n- Google: \"[site name] RSS feed\" to find the URL\n\nThe workflow works the same with any RSS feed.",
        "height": 220,
        "width": 360,
        "color": 6
      },
      "id": "bc3f1a2d-9e4c-4b1a-8f2e-3d7a5c6e8f1b",
      "name": "Sticky Note — RSS Tips",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 930]
    },
    {
      "parameters": {
        "content": "## YOU'RE SET!\n\nOnce activated, this runs automatically every hour.\n\nEvery new article triggers an email with 3 ready-to-post captions.\n\n──────────────────────────────\nALL FILES FROM TONIGHT:\npeopleintheloop.app/n8n_0422\n──────────────────────────────\n\nAt that URL you'll find:\n→ level1-rss-to-email.json (this file)\n→ level2-brand-voice-rss-to-email.json (the upgrade)\n→ claude-brand-voice-prompt.md (fill out for your brand)\n→ claude-skill.md (bonus: turn Claude into your n8n assistant)\n\nREADY FOR LEVEL 2?\nSame workflow. One change: Claude writes every post in YOUR brand voice.\n\nGet it at peopleintheloop.app/n8n_0422\n\nPeople in the Loop | ninathomas.ai",
        "height": 340,
        "width": 380,
        "color": 5
      },
      "id": "db4ea07b-eb07-481c-800c-f75ece0fb3ac",
      "name": "Sticky Note — Next Steps",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [620, 820]
    }
  ],
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Write Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Social Posts": {
      "main": [
        [
          {
            "node": "Send Content Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Social Posts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "n8n-meetup-atlanta"
    },
    {
      "name": "level-1"
    },
    {
      "name": "social-media"
    }
  ]
}
